<% if posts.size == 0 %>
No posts! You are lucky to be the first.
<% else %>
  <% posts.each do |post| %>
  <span>
    <% if post.category.is_nsfw %>
      <%= link_to post.title, it_category_content_url(post.category.it, post.category, post),  
      :style => "font-size:" +  (15 + (post.active_comments_count * 1)).to_s + 
      "px;font-weight:" + (15 + (post.active_comments_count * 1)).to_s + ";background-color: #FFB2B2;", 
      :confirm => 'You must be 18 or over to views this content?', :title => post.title %>
    <% else %>
      <%= link_to post.title, it_category_content_url(post.category.it, post.category, post),  
      :style => "font-size:" +  (15 + (post.active_comments_count * 1)).to_s + 
      "px;font-weight:" + (15 + (post.active_comments_count * 1)).to_s,
      :title => post.title %>
    <% end %>
    
    (<%= post.active_comments_count %>) 
  </span>
  <% end %>
<% end %>