<% @its.each do |it| %>
<div>
	<div>
	<% if it.is_default%>
		<span style="color: green"><%= link_to it.name,  it %><--- Current Shiz</span>
	<% else %>
		<span><%= link_to it.name,  it %></span>
	<% end %>
	<%= link_to "Edit", edit_it_path(it)%>
	</div>
	<div><%= it.created_at %></div>
<div>
<% end %>
