<div id="comment_item">
<div id="comment_user"></div>
<div id="comment_shiz">
<% if (can? :delete, comment) %>
<%= link_to "X", it_category_content_comment_path(comment.content.category.it, 
	comment.content.category, comment.content, comment), :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<% yours = "" %>
<p class="comments" style="<%= yours %>">
<%= time_ago_in_words(comment.created_at, true) %> Ago:
<br />
<%= comment.theshiz.gsub("\n", "<br />").html_safe %>
</p>
</div>
<div id="comment_goodies">
</div>
</div>